apiVersion: v1
kind: Service
metadata:
  labels:
    app: api
  name: api
spec:
  ports:
    - name: api
      port: 3000
      targetPort: 3000
      nodePort: 30070
  selector:
    app: api
  type: NodePort
